<%= content_tag :div, :class => "relation translation panel" do %>
  <% if defined?(concept) %>
    <h2><%= klass.model_name.human(:count => 2) %></h2>
    <div class="relation-body">
        <div class="translation" lang="pt">
            <%-
              items = concept.labels_for_labeling_class_and_language(klass, "pt")
              items = items.select { |item| can?(:read, item) }
            -%>
            <%= item_listing(items) do |label|
              label.value
            end %>
        </div>

    </div>

  <%
=begin%>
 <% if defined?(label) %>
    <h2><%= klass.model_name.human(:count => 2) %> <%= t("txt.common.of") %></h2>
    <div class="relation">
      <%-
        items = label.concepts_for_labeling_class(klass)
        items = items.select { |item| can?(:read, item) }
      -%>
      <%= item_listing(items) do |c|
        link_to(c.origin, concept_path(:id => c), :alt => c.pref_label)
      end %>
    </div>
<%
=end%>
  <% end %> 
<% end %>
